@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  height: 100%;
}

.first-background-gradient {
  height: 600px;
  width: 800px;
  background: linear-gradient(245.27deg, #ff00d6 -3.85%, #00631c 95.68%);
  background-position: center;
  position: relative;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  border-radius: 20px;
}

.second-background-gradient {
  text-align: center;
  width: 666px;
  height: 328px;
  left: 0px;
  top: 0px;
  background: linear-gradient(233.55deg, #ff008a -13.15%, #002c3f 88.45%);
  mix-blend-mode: overlay;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

.logotip {
  position: absolute;
  width: 46px;
  height: 36px;
  left: 26px;
  top: 28px;
}

.coffe-image {
  position: absolute;
  width: 810px;
  height: 540px;
  left: 7px;
  top: -74.12px;
  background: url(round-lid-large-02.png);
  mix-blend-mode: normal;
  -webkit-filter: drop-shadow(10px 20px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 20px 30px rgba(0, 0, 0, 0.25));
  -webkit-transform: rotate(-5.94deg);
          transform: rotate(-5.94deg);
}