// Файл обнуляющих стилейм
@import "nullstyle.scss";

html {
  height: 100%;
}
.first-background-gradient {
  height: 600px;
  width: 800px;
  background: linear-gradient(245.27deg, #ff00d6 -3.85%, #00631c 95.68%);
  background-position: center;
  position: relative;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  border-radius: 20px;
}

.second-background-gradient {
  text-align: center;
  width: 666px;
  height: 328px;
  left: 0px;
  top: 0px;
  background: linear-gradient(233.55deg, #ff008a -13.15%, #002c3f 88.45%);
  mix-blend-mode: overlay;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

.logotip {
  position: absolute;
  width: 46px;
  height: 36px;
  left: 26px;
  top: 28px;
}

.coffe-image {
  position: absolute;
  width: 810px;
  height: 540px;
  left: 7px;
  top: -74.12px;

  background: url(round-lid-large-02.png);
  mix-blend-mode: normal;
  filter: drop-shadow(10px 20px 30px rgba(0, 0, 0, 0.25));
  transform: rotate(-5.94deg);
}
